$maincolor: rgb(3, 3, 37);

.project
{
    display: flex;
    flex-direction: column;
    align-items: center;

    .project-box
    {
        min-height: auto;
        height: auto;
    }

    ul
    {
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;  

        li
        {
            border: solid 2px rgba(255, 215, 0, 0.5);
            border-radius: 10px;
            color: rgba(255, 255, 255, 0.8);
            transition: all 0.3s ease;
        }     
    }
    .Box1
    {
        cursor: pointer;
        .image
        {
            z-index: 1;
        }
        h3, .title
        {
            opacity: 0;
        }
        &:hover
        {
            background-color: $maincolor;
            .image
            {
                opacity: 0.2;
                z-index: 0;
            }
            h3
            {
                opacity: 1;
                z-index: 1;
                color: rgb(255, 255, 255);
            }
            .title
            {
                opacity: 1;
                z-index: 1;
            }

        }
    }

    .box
    {
            gap: 1.75rem;
    }
}